* {
  box-sizing: border-box;
  margin: 0;
}
.container-wrapper {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(235, 249, 250, 0.411);
}

.container-sprint {
  width: 420px;
  border: 3px solid rgb(13, 109, 13);
  border-radius: 10px;
}

.header-sprint{
  text-align: center;
  margin: 10px 0;
}

.block-description {
  text-align: center;
}

.description-style {
  margin: 10px 0;
  font-size: 17px;
}

.btm-start-sprint {
  display: block;
  width: 100px;
  height: 30px;
  margin: 15px auto;
  font-size: 17px;
  border-radius: 5px;
  background-color: rgb(245, 194, 228);
}

.container-start-game {
  background-color: rgba(235, 249, 250, 0.411);
  padding-top: 40px;
  display: flex;
  justify-content: center;
  position: relative;
}


.timer {
  position: absolute;
  left: 50px;
  top: 40px;
  width: 50px;
  height: 50px;
  border: 2px solid rgb(13, 109, 13);
  border-radius: 25px;
  text-align: center;
  line-height: 45px;
  font-size: 24px;
}

.block-game-sprint {
  padding-top: 20px;
  width: 500px;
  background-color: blanchedalmond;
  border: 2px solid rgb(13, 109, 13);
  border-radius: 25px;
  text-align: center;

}

.flag-sprint {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: rgba(169, 175, 173);
  margin: 0 5px;
}

.counter-sprint {
  width: 20px;
  margin: 0 auto;
  font-size: 25px;
}

.container-flag-sprint {
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.button-answer-sprint {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}

.active {
  background-color: rgba(37, 116, 21, 0.719);
}

.additional-counter-sprint {
  display: none;
  font-size: 25px;
  padding-bottom: 5px;
}

.eng-word-sprint, .ru-word-sprint {
  font-size: 25px;
  padding: 10px 0;
}

.btn-answer, .btm-close-sprint {
  width: 150px;
  height: 40px;
  font-size: 20px;
  border-radius: 10px;
}

#falseSprint {
  background-color: rgb(252, 27, 27);
}

#trueSprint {
  background-color: rgb(10, 173, 31);
}

.separator-true-answer {
  display: none;
  position: absolute;
  top: 0;
  left: 223px;
  width: 50px;
  height: 50px;
  border: 2px solid black;
  background-color: rgb(10, 173, 31);
  border-radius: 25px;
  font-size: 25px;
  line-height: 45px;
}

.separator-false-answer {
  display: none;
  position: absolute;
  top: 0;
  left: 223px;
  width: 50px;
  height: 50px;
  border: 2px solid black;
  background-color: rgb(252, 27, 27);
  border-radius: 25px;
  font-size: 25px;
  line-height: 45px;
}

.separator-block-sprint {
  position: relative;
  padding-top: 15px;
}

.container-end-game {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 420px;
  border: 3px solid rgb(13, 109, 13);
  border-radius: 10px;
  justify-content: center;
}

.header-result-sprint {
  font-size: 30px;
}

.result-sprint {
  font-size: 25px;
  padding-top: 20px;
}

.btm-close-sprint {
  background-color: rgb(252, 27, 27);
  margin: 20px 0;
}

.words-answer-block {
width: 120px;
height: 100px;
overflow: auto;
font-size: 20px;
padding: 5px 0;

}

.block-cont-result {
  padding: 15px 0;
  font-size: 20px;
}

.learn-word {
  text-align: center;
}